  
  .dropdown {
    background-color: $color-gold;
    position: absolute;
    padding: 0 3rem 3rem 3rem;
    top: 105%;
    left: -35%;
    text-align: left;
    width: 20rem;
    box-shadow: 0 0 4rem 2rem rgba(0, 0, 0, .05);
    border-radius: 2px;
    z-index: 100;
  
    transition: all 0.3s;
  }
  
  .dropdown-caret {
    margin-left: .5rem;
  }
  
  .dropdown-item {
    list-style-type: none;
    padding: 1rem 0;
  }
  
  .dropdown-item:not(:last-of-type) {
    border-bottom: 1px solid $color-gold-dk;
  }
  
  .dropdown-link {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s;
  }
  
  .dropdown-link:hover {
    color: $color-white;
  }
  
