*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // @include respond(desktop-lg) { // width < 1800;
  //   font-size: 75%; // 1 rem = 12px; 12/16;
  // }

  // @include respond(desktop) { // width < 1800;
  //   font-size: 75%; // 1 rem = 12px; 12/16;
  // }

  // @include respond(tab-land) { // width < 1200;
  //   font-size: 62.5%; // 1 rem = 10px; 10/16
  // }

  // @include respond(tab-port) { // width < 900
  //   font-size: 56.25%; // 1 rem = 9px; 9/16 = 50%
  // }

  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.8rem;
  color: $color-black;

  background-color: $color-gray;
}

/********* UNREFACTORED MEDIA QUERIES **************/

@media only screen and (min-width: 0px) {
  .main-container { 
    width: 100%;
  padding: 3rem 2rem;

  }
  
  .nav__container {
    padding: 2.5rem 2rem;
  }

  .nav__right {
    display: none;
  }

  .dropdown {
    top: -0.8rem;
    left: 100%;
  }

  .nav__user {
    display: none;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__right--show {
    display: block !important;
    position: absolute !important;
    top: 10rem  !important;
    left: 0  !important;
    width: 100vw  !important;
    padding: 0 0 1rem 2rem  !important;
  }

  .nav__item--profile {
    display: inline-block;
  }

  .products {
    grid-template-columns: 1fr;
  }
}


@media only screen and (min-width: 400px) {

  
  .nav__user {
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .nav__menu {
    margin-left: 0;
  }

  .nav__item--profile {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .nav__container {
    padding: 2.5rem 2rem;
  }
    
  .products {
    grid-template-columns: 1fr 1fr;
  }

}

@media only screen and (min-width: 800px) {
  .nav__container {
    padding: 2.5rem 3rem;
  }

  .main-container { 
    width: 90%;
  padding: 3rem;

  }
}

@media only screen and (min-width: 900px) {
}

@media only screen and (min-width: 1000px) {
  .main-container {
    padding: 3rem  4rem;
  }
  
  .nav__container {
    display: flex;
    position: static;
    top: none;
    left: none;
    width: auto;
    padding: auto;
  }

  .nav__right {
    display: flex;
    position: static;
    top: none;
    left: none;
    width: auto;
  }

  .nav__menu {
    display: none;
  }

  .dropdown {
    top: 100%;
    left: -35%;
    box-shadow: none;
    border-radius: none;
  }

  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .nav__container {
    padding: 2.5rem 6rem;
  }
}
